*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
      font-family: "Inter", sans-serif;
}
span,a{
display: inline-block;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    padding: 15px 30px;
    background-color: blueviolet;
}