* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

span,
a {
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 20px 30px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    color: white;
    text-transform: capitalize;
    font-weight: 800;
    cursor: pointer;
}

.nav-list ul {
    display: flex;
    gap: 25px;
}

.nav-list ul li {
    color: whitesmoke;
    font-size: 22px;
    font-weight: 400;
}

.nav-list ul li:hover {
    border-bottom: 1px solid black;
}

main {
    background-color: #eee;
    width: 100%;
    min-height: 100vh;
    padding: 25px 10px;
    position: relative;
}

main h1 {
    text-align: center;
    font-weight: bold;
    padding: 25px 15px;
}

.container {
    width: 70%;
    margin: auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.product-box {
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
}

.product-box img {
    width: 100%;
    height: 250px;
}

.product-box .text-container {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    flex-direction: column;
}

.proudct-name {
    background-color: #eee;
    padding: 10px 15px;
    color: black;
    border-radius: 14px;
    font-size: 15px;
    text-align: center;
}

.product-price {
    color: blueviolet;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
}

.add-to-cart-button,
.login-button {
    border: 2px solid #eee;
    background-color: blueviolet;
    color: #eee;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: white;
    color: blueviolet;

}

.pagination {
    display: flex;
    gap: 30px;
    padding: 20px 10px;
    justify-content: center;
}

.pagination button {
    border: 2px solid #eee;
    background-color: white;
    color: blueviolet;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
}


/* ! log in  */

.login {
    background-color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-container {
    background-color: white;
    padding: 25px 30px;
    border-radius: 12px;
    width: 400px;
}

.input-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 15px 0;

}

.input-item label {
    color: dimgrey;
    font-weight: 500;
}

.input-item input {
    padding: 12px 10px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: transparent;
    color: dimgrey;
    border-radius: 8px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.login-heading {
    text-align: center;
}

.login-button {
    margin: 15px auto;
    width: 100%;
}

.model {
    background-color: blueviolet;
    color: white;
    position: fixed;
    bottom: 15px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    border: 3px solid #fff;
    transition: all 0.8s linear;
    transform: translateX(120%);
}

.model p {
    font-size: 16px;
}


/* & Cart */

.cart {
    background-color: #eee;
    width: 100%;
    padding: 10px;
    min-height: 100vh;

}

.cart-container {
    width: 80%;
    background-color: #fff;
    padding: 10px 15px;
    margin: 30px auto;
    border-radius: 8px;
    padding: 20px 20px;
}

.cart-container h1 {
    text-align: center;
    color: blueviolet;
    padding: 10px 0;
}

.cart-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-top: 1px solid #ddd;
}

.product-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-details img {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}

.product-details span {
    color: blueviolet;
    font-weight: 600;
    font-size: 20px;
}

.product-details-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mince,
.plus,
.quantity,
.remove,
.remove-all {
    padding: 5px 10px;
    background-color: blueviolet;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.quantity {
    border-radius: 0;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: blueviolet;
}

.remove,
.remove-all {
    padding: 8px 10px;
    background-color: orange;
    border-radius: 10px;
}

.total-price {
    margin: 20px 0;
}

.delete-model-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-model {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 15px;
    border: 2px solid #eee;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    color: #fff;

}

.delete-model div {
    text-align: center;
    margin-top: 15px;
}

.delete-model div button {
    transition: all 0.3s linear;
    padding: 8px 15px;
    background-color: rgb(224, 216, 232);
    outline: 0;
    border: 0;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.delete-model div button:hover {
    background-color: blueviolet;
    color: #fff;
}

.delete-model-message {}